h1 {
    font-size: 40px;
    text-align: center;
    font-family: fantasy;
    padding-top: 20px;
  }

  nav a {
    text-decoration: none;
    margin-left: 20px;
  }
  
  body
  {
     background-image: linear-gradient(#009999,#ccffcc);
   
  }

  nav 
  {
    width: 100%;
    padding-top:12px;
    padding-bottom:12px;
    background-color: #000066;
  }
